// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  text-align: center;
  font-family: Courier;
  font-size: 4vw;
}

h1 {
  padding-top: 10vw;
}
